* {
    padding: 0;
    margin: 0;
}
/* tag */
a {
    outline: 0;
    color: #c91d23;
}
a {
    text-decoration: none;
    background-color: transparent;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #336;
    font-weight: 350;
    line-height: 1.8;
    font-size: 1.0625rem;
}

div {
    display: block;
}

h1 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 30px;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

ol {
    margin-bottom: 1rem;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section {
    padding: 75px 0;
    height: auto;
    display: block;
}

/* class */
:after, :before {
    box-sizing: border-box;
}

.bg-gray-a-500 {
    background-color: rgba(0,0,0,.05);
}

.breadcrumb {
    margin-bottom: 0;
    list-style: none;
    background-color: unset;
    border-radius: 2px;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: .8125rem;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-item a, .breadcrumb-item a:visited {
    color: #333;
}

.breadcrumb-item a:hover {
    color: red;
}

.breadcrumb-item.active:last-child {
    font-weight: 700;
}



@media (max-width: 568px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 800px;
    }
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.pb-5  {
    padding-bottom: 10px!important;
}

.pb-0 {
    padding-bottom: 0!important;
}

.pt-1 {
    padding-top: 0.25rem!important;
}

.title-main {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 330;
    font-size: 35px;
}

.title-main::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    border-bottom: 4px solid #c91d23;
    width: 80px;
}

.section-wrapper {
    position: relative;
    padding-top: 0;
}

.static-content {
    padding-bottom: 40px;
}

:root {
    --primary-color: #cc0000;
    --white-color: #fff;
    --text-color: #333;
    --black-color: #000;
    --primary-font: 'cambria';

    /* Index.html -> Header */
    --header-height-pc: 115px;
    --width-logo-pc: 64px;
    --font-size-logo-pc: 3.6rem;

    /* Index.html -> Heading of a frame */
    --font-size-heading: 3.6rem
}

/* header */
.fh {
    height: 100%!important;
}

.header {
    width: 100%;
    height: 115px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header--bg-white {
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.header__img-logo {
    width: var(--width-logo-pc);
    border-radius: 6px;
}

.header__logo-text {
    text-shadow: 0 1px 1px #000;
    color: #aaa;
    margin-left: 8px;
    font-size: 2.25rem;
}

.header--bg-white .header__logo-text {
    text-shadow: 0 1px 1px #000;
    color: #fff;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: cambria;
    font-size: 1.125rem;
}

.header__nav-item-link {
    color: #666;
    margin: 0 12px;
    text-decoration: none;
        text-shadow: 0 0px 1px #000;
    font-size: 1.25rem;
}

.header--bg-white .header__nav-item-link {
    color: var(--text-color);
    text-shadow: 0 1px 1px #fff;
}

.header__nav-item-link:hover {
    color: red;
}

.padding-top-115
{
    padding-top: 115px;
}