:root {
    --primary-color: #cc0000;
    --white-color: #fff;
    --text-color: #333;
    --black-color: #000;
    --primary-font: 'cambria';

    /* Index.html -> Header */
    --header-height-pc: 115px;
    --width-logo-pc: 64px;
    --font-size-logo-pc: 3.6rem;

    /* Index.html -> Heading of a frame */
    --font-size-heading: 3.6rem
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

.fh {
    height: 100%!important;
}

.fw {
    width: 100%!important;
}

.base__frame-heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 155px;
    width: 100%;
    font-family: cursive;
    flex-direction: column;
}

.base__frame-heading {
    font-size: var(--font-size-heading);
    color: var(--text-color);
    margin-bottom: 12px;
    text-align: center;
}

.strike-through { /* Not content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.strike-through-line {
    border-radius: 8px;
    height: 4px;
    width: 180px;
    background-color: #ff3f3f;
}

.strike-through-dark { /* Not content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.strike-through-dark-line {
    border-radius: 8px;
    height: 1px;
    width: 100%;
    background-color: #a9a9a9;
    margin-bottom: 60px;
}