/* ===== Warranty model ===== */
.warranty__model {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    overflow-y: auto;
}

.warranty__model.show {
    display: flex;
}

.warranty__contain {
    width: 80%;
    background-color: #fff;
    min-height: 100px;
    padding: 0 60px 60px;
    position: absolute;
    top: 55px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all ease-out 0.3s;
}

.warranty__contain.show {
    opacity: 1;
    transform: translateY(0);
}

.warranty__close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.warranty__choice-year {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.choice-year__title {

}

.choice-year-box {
    display: flex;
}

.choice-year-group {
    padding: 0 16px;
}

.choice-year-input:checked {
    background-color: #000;
}

input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}

.choice-year-input:checked~.choice-year-label {
    color: #ff9966;
}

.choice-year-label {
    cursor: pointer;
    user-select: none;
    padding-left: 8px;
}

/* wlc */

.wlc__box {

}

.wlc__section {
    padding: 18px 16px;
    border: 1px solid #cbcbcb;
    position: relative;
    margin-top: 12px;
}

.wlc__most-popular {
    position: absolute;
    right: 2px;
    top: 16px;
    background-color: #ff2052;
    padding: 4px;
    border-radius: 4px;
    transform: rotate(15deg);
}

.wlc__section:hover {
    border-color: var(--primary-color);
}

.wlc__section.active {
    border-color: var(--primary-color);
}

.wlc__icon {

}

.wlc__ways {

}

.wlc__list {

}

.wlc__item {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.wlc__item-icon {
    font-size: 1.8rem;
    margin-right: 8px;
    min-width: 18px;
}

.wlc__item-icon i.fa-check {
    color: #00aa00;
}

.wlc__item-icon i.fa-xmark {
    color: #e32636;
}

.wlc__item-name {
    font-size: 1.8rem;
    color: var(--text-color);
}

.wlc__choose-btn {
    color: #fff;
    background-color: #00aa00;
}

.wlc__section.active .wlc__choose-btn {
    pointer-events: none;
    background-color: #6c757d;
    border-color: #6c757d;
}




/* ===== reset css ===== */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--text-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ------------------------------------- */

/* TabUI CSS for car detail page */
.tab-UI {
    margin-top: 24px;
}

.tabs .line {
    background-color: #00ce00;
}

.tab-item {
    background-color: #fff;
    color: var(--text-color);
    font-size: 2rem;
}



/* ------------------------------------- */
.content {
    margin-top: var(--header-height);
    padding-bottom: 100px;
}

.car-detail {

}

.car__name {
    height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
}

.car__name-text {
    font-size: 2.6rem;
    font-weight: 400;
}

.car__img-box {
    display: flex;
    height: 420px;
    overflow: hidden;
}

.car__img-displaying-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.car__img-displaying {
    width: 100%;
    max-width: 99%;
}

.car__img-select-box {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    height: 100%;
    overflow-y: auto;
}

.car__img-select-box::-webkit-scrollbar {
    width: 4px;
    background-color: #eeeeee;
}
.car__img-select-box::-webkit-scrollbar-thumb {
    background-color: #00aa00;
    border-radius: 2px;
}

.car__img-select-box::-webkit-scrollbar-thumb:hover {
    background-color: #00ce00;
}

.car__img-select {
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

.car__info {
    margin-left: 12px;
}

.car__state-box {
    margin: 0 0 24px;
}

.car__state-text {
    font-size: 2.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.car__price-table {

}

.car__net-price {

}

.car__price-box {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding-bottom: 12px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 8px;
    color: var(--text-color);
}

.car__price-box.no-strikethrough {
    border: none;
}

.car__price-title {
    display: flex;
    align-items: center;
    font-family: Candara, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.car__price-subtitle {
    font-size: 1.4rem;
    margin-left: 12px;
    color: #777;
}

.car__warranty-modify-btn {
    margin-left: 8px;
    font-size: 1.2rem;
}

.car__price-value {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.car__vat-value {
    font-size: 1.4rem;
    display: block;
}

/* Human and Protection */

.protection-box {
    background-color: #e5ffe5;
    margin-top: 24px;
    padding: 44px;
}

.protection__heading-box {
    
}

.protection__heading {
    font-size: 2.4rem;
}

.protection__list {
    margin-top: 18px;
}

.protection__item {
    font-size: 1.8rem;
    color: #333;
    padding: 16px 0;
}

.protection__item i {
    color: #888;
}

.sales-man {

}

.sales-man-phone {
    background-color: #00aa00;
}

/* How it work */

.sub-hiw {
    background-color: #ececec;
    padding: 15px;
}

.shiw__list {

}

.shiw__item {
    padding: 6px 0;
    font-size: 1.4rem;
    color: var(--text-color);
}

.shiw__icon {
    margin: 0 8px;
    color: #00a47b;
}

/* Car details */

.details {

}

.details__heading-box {

}

.details__heading {

}

.details__wrapper {
    width: 100%;
    margin: 24px 0 0;
}

.details__wrapper.just-mt {
    margin: 24px 0 0;
}

.details__section {
    padding: 0 12px;
}

.details__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 4px 0 12px;
    border-bottom: 1px solid #b0b0b0;
}

.details__title {

}

.details__value {
    font-weight: 700;
}

.details__feature-section {

}

.details__feature-item {
    font-size: 1.8rem;
    padding: 4px 0;
}

.details__feature-check {
    color: #00ce00;
}

.details__other-table {
    font-size: 18px;
}

/* Buyer Protection on tab UI second */

.buyer-protection {

}

.BY__item {

}

.BY__item-icon {
    font-size: 5rem;
    color: #60a4e9;
}

.BY__item-title {
    color: var(--text-color);
}

.BY__item-content {
    color: var(--text-color);
}


/* ===== Keyframes animate ===== */

@keyframes showModel {
    from {
        opacity: 0.2;
        transform: translateY(-40%);
    }
    from {
        opacity: 1;
        transform: translateY(0);
    }
}