

/* CSS for header and navbar */
.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
    top: 0;
}

.header--bg-white {
    background-color: #fff;
    border-bottom: 1px solid #999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.header__img-logo {
    width: var(--width-logo-pc);
    border-radius: 6px;
}

.header__logo-text {
    text-shadow: 0 1px 7px #000;
    color: #fff;
    margin: 0;
    margin-left: 8px;
    font-size: var(--font-size-logo-pc);
}

.header--bg-white .header__logo-text {
    text-shadow: 0 1px 7px #fff;
    color: var(--primary-color);
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: cambria;
    font-size: 1.8rem;
}

.header__nav-item {

}

.header__nav-item-link {
    color: #fff;
    margin: 0 12px;
    text-decoration: none;
    text-shadow: 0 1px 7px #000;
    font-size: 2rem;
}

.header--bg-white .header__nav-item-link {
    color: var(--text-color);
    text-shadow: 0 1px 7px #fff;
}

.header__nav-item-link:hover {
    color: aqua;
}

.header--bg-white .header__nav-item-link:hover {
    color: var(--primary-color);
}
/* End CSS for header and navbar */


/* CSS for mobile menu button */

.header__mb-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__mbm-btn {
    display: block;
    padding: 12px;
}

.header__mbm-icon {
    font-size: 2.6rem;
    color: #fff;
    text-shadow: 0 1px 7px #000;
}

.header--bg-white .header__mbm-icon {
    font-size: 2.6rem;
    color: var(--text-color);
    text-shadow: none;
}

/* End CSS for mobile menu button */



/* CSS for mobile menu model */

.mbm__model {
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    border-left: 1px solid #999;
    animation: modelAnimation 0.3s ease-out;
}

.mbm__model.active {
    display: flex;
}

@keyframes modelAnimation {
    from {
        transform: translateX(100%);
        opacity: 0.3;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.mbm__contain {
    margin: 0 auto;
    width: 100%;
}

.mbm__close {
    height: 55px;
    display: flex;
    justify-content: flex-end;
}

.mbm__close-btn {
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mbm__close-icon {
    font-size: 2.4rem;
    color: var(--primary-color);
}


.mbm__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.mbm__nav-item {
    width: 100%;
}

.mbm__nav-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    font-family: sans-serif;
    padding: 16px;
    width: 100%;
    text-align: center;
}

.mbm__nav-link:hover {
    color: var(--black-color);
    background-color: #dbdbdb;
}

.mbm__nav-item-icon {
    color: #79443b;
    padding-right: 4px;
}

/* --------Responsive model */

/* Mobile */
@media (max-width: 739px) {
    .mbm__model {
        left: 0;
    }
}

/* End CSS for mobile menu model */