


/* CSS for application */
.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* CSS for slider */
.slider {
    width: 100%;
    position: relative;
    max-width: 1600px;
}

.slider__prev-btn, .slider__next-btn {
    position: absolute;
    font-size: 1.6rem;
    background-color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
}

.slider__prev-btn {
    left: 8px;
}

.slider__next-btn {
    right: 8px;
}

.slider__dots {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    bottom: 8px;
    list-style: none;
    transform: translateX(-50%);
    left: 50%;
}

.slider__dot-item {
    color: #333;
    padding: 0 4px;
    text-shadow: 0 1px 7px #fff;
}

.slider__dot-item.active {
    color: #fff;
    text-shadow: 0 1px 7px #000;
}

.slider__dot-item::marker {

}

.slider__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.slider__main {
    display: flex;
    position: relative;
    transition: transform ease-out 0.4s;
}

.slider__item {
    flex: 1 0 100%;
    user-select: none;
}

.slider__img {
    width: 100%;
}


/* End CSS for slider */

/* ------------------- */

/* CSS for how it work */



/* End CSS for how it work */

/* ------------------- */

/* CSS for content */

.product {
    width: 100%;
    background-color: #5d8aa8;
}

.product__section {

}

.product__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    font-family: 'cambria';
    font-size: 3rem;
    font-weight: 400;
    margin-top: 30px;
}

.product__layout {
    width: 100%;
}

.product--loading {
    text-align: center;
    color: #00ffff;
    font-family: Consolas;
}

.product-item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 12px;
    text-decoration: none;
    display: block;
}

.product__img {
    width: 100%;
}

.product-info {
    bottom: 0;
    padding-left: 8px;
    font-family: 'cambria';
    background-color: #333;
}

.product-name {
    color: #fff;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-price {
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
}


.product__view-more-box {
    margin-top: 30px;
}

.product__view-more-btn {
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 600;
    word-spacing: 4px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}

/* End CSS for content */

