


/* CSS for application */
.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* CSS for slider */
.slider {
    width: 100%;
    position: relative;
    max-width: 1600px;
}

.slider__prev-btn, .slider__next-btn {
    position: absolute;
    font-size: 1.6rem;
    background-color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
}

.slider__prev-btn {
    left: 8px;
}

.slider__next-btn {
    right: 8px;
}

.slider__dots {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    bottom: 8px;
    list-style: none;
    transform: translateX(-50%);
    left: 50%;
}

.slider__dot-item {
    color: #333;
    padding: 0 4px;
    text-shadow: 0 1px 7px #fff;
}

.slider__dot-item.active {
    color: #fff;
    text-shadow: 0 1px 7px #000;
}

.slider__dot-item::marker {

}

.slider__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.slider__main {
    display: flex;
    position: relative;
    transition: transform ease-out 0.4s;
}

.slider__item {
    flex: 1 0 100%;
    user-select: none;
}

.slider__img {
    width: 100%;
}


/* End CSS for slider */

/* ------------------- */

/* CSS for how it work */

.how-it-work {
    height: 500px;
    background-color: #333;
}

.hiw__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 155px;
}

.hiw__heading {
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-family: cursive;
    margin-bottom: 12px;
}


/* End CSS for how it work */

/* ------------------- */

/* CSS for Products */

.product {
    width: 100%;
    background-color: #d3e8ff;
}

.product__section {

}

.product__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #444;
    font-family: 'cambria';
    font-size: 3rem;
    font-weight: 400;
    margin-top: 30px;
}

.product__layout {
    width: 100%;
}

.product--loading {
    text-align: center;
    color: #79443b;
    font-family: Consolas;
}

.product-item {
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    text-decoration: none;
    display: block;
}

.product__img {
    width: 100%;
}

.product-info {
    bottom: 0;
    padding: 8px;
    font-family: 'cambria';
    background-color: #333;
}

.product-name {
    color: #fff;
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-price {
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
}


.product__view-more-box {
    margin-top: 30px;
}

.product__view-more-btn {
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: consolas;
    font-weight: 600;
    word-spacing: 4px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}

/* End CSS for Products */


/* CSS for client opinions */

.client-opinions {
    background-color: #fff;
    padding-bottom: 36px;
}

.co__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 100%;
    font-family: cursive;
    flex-direction: column;
}

.co__heading-text {
    font-size: 3.6rem;
    color: var(--text-color);
    margin-bottom: 12px;
}
.co-slider {
    width: 100%;
    position: relative;
    max-width: 1600px;
}

.co-slider__prev-btn, .co-slider__next-btn {
    position: absolute;
    font-size: 1.6rem;
    background-color: #e52b50;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
}

.co-slider__prev-btn {
    left: 0;
}

.co-slider__next-btn {
    right: 0;
}

.co-slider__dots {
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    bottom: 8px;
    list-style: none;
    transform: translateX(-50%);
    left: 50%;
}

.co-slider__dot-item {
    color: #333;
    padding: 0 4px;
    text-shadow: 0 1px 7px #fff;
}

.co-slider__dot-item.active {
    color: #fff;
    text-shadow: 0 1px 7px #000;
}

.co-slider__dot-item::marker {

}

.co-slider__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.co-slider__main {
    display: flex;
    position: relative;
    transition: transform ease-out 0.4s;
}

.co-slider__item {
    flex: 1 0 100%;
    user-select: none;
    display: flex;
    align-items: center;
}

.co-slider__info {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
}

.co-slider__brand-img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.co-slider__content {
    font-size: 2.2rem;
    font-family: consolas;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 8px;
}

/* End CSS for client opinions */

/* CSS for Advantages */

.advantages {
    background-color: #d3e8ff;
    padding-bottom: 60px;
}

.advantages__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    flex-direction: column;
}

.advantages__heading {
    font-size: 3.6rem;
    font-family: cursive;
    margin-bottom: 12px;
}

.advantages__list {
    padding: 40px 0;
}

.advantages__content-item {
    margin-bottom: 75px;
}

.advantages-icon-box {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.advantages-icon-box i {
    font-size: 4rem;
    padding: 0 4px;
    color: #bf3641;
}

.advantages-item-heading-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 8px;
    margin-bottom: 24px;
    height: 88px;
}

.advantages-item-heading {
    font-size: 2.4rem;
    text-align: center;
}

.advantages-item-text {
    font-size: 1.8rem;
    font-family: cambria;
    padding: 0 8px;
    text-align: center;
    word-spacing: 2px;
    line-height: 30px;
}



/* End CSS for Advantages */

/* CSS for Why Carvan */

.why {
    background-color: #fff;
    padding-bottom: 55px;
}

.why__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 155px;
}

.why__heading {
    color: #333;
    text-align: center;
    font-size: 3.6rem;
    font-family: cursive;
    margin-bottom: 12px;
}

.why__introduce-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 88%;
}

.why__introduce {
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 55px;
}

.why__list {
    --color-icon: #21abcd;
}

.why__item {
    width: 94%;
    margin: 0 auto;
    padding-bottom: 26px;
}

.wi__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
}

.wi__icon {
    font-size: 8rem;
    color: var(--color-icon);
}

.wi__heading-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.wi__heading {
    font-size: 3rem;
    color: var(--text-color);
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

.wi__content-box {
    display: flex;
    justify-content: center;
    align-items: center;
}



.wi__reason-list { /* REASON */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wi__reason-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.wi__reason-icon {
    font-size: 1.8rem;
    margin: 0 12px;
    color: #00cc99;
    border: 1px solid
}

.wi__reason-text {
    font-size: 2rem;
    margin: 0 8px;
    font-weight: 300;
}

.wi__step-list { /* STEPS */
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wi__step-item {
    margin-bottom: 24px;
}

.wi__step-heading-box {
    margin-bottom: 16px;
}

.wi__step-heading {
    margin: 0;
    font-size: 2.2rem;
}

.wi__step-content {
    
}

.wi__step-text {
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    line-height: 32px;
}

.wi__numbers-box {

}

.wi__square-box {
    display: flex;

}

.wi__square-item {
    width: 50%;
    padding: 20px;
}



.wi__square-item.si-pt { /* sub CSS */
    padding-top: 20px;
}
.wi__square-item.si-pb {
    padding-bottom: 20px;
}
.wi__square-item.si-br {
    border-right: 1px solid #c7c5c5;
}
.wi__square-item.si-bl {
    border-left: 1px solid #c7c5c5;
}
.wi__square-item.si-bt {
    border-top: 1px solid #c7c5c5;
}
.wi__square-item.si-bb {
    border-bottom: 1px solid #c7c5c5;
}



.wi__number-heading {
    font-size: 4.6rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.wi__number-text {
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    font-weight: 300;
}

.wi__certification { /* certification */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wi__certification-text {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 26px;
}

.wi__certification-img {
    width: 40%;
}

.wi__mobile-app {

}

.wi__mobile-app-text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}

.wi__about-relationships {

}

.wi__about-relationships-text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.wi__about-relationships-signature {
    font-size: 3.6rem;
    font-family: Brush Script MT;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #cd5b45;
    padding-top: 30px;
}

/* End CSS for Why Carvan */

/* CSS for GUARANTEE */

.guarantee {
    background-color: #0000000d;
    padding-bottom: 55px;
}

.guarantee__heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 155px;
}

.guarantee__heading {
    color: #333;
    text-align: center;
    font-size: 3.6rem;
    font-family: cursive;
    margin-bottom: 12px;
}

.guarantee__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.guarantee__text-section {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    line-height: 32px;
    word-spacing: 3px;
    font-family: cambria;
}


/* End CSS for Guarantee */