a {
    outline: 0;
    color: #c91d23;
}
a {
    text-decoration: none;
    background-color: transparent;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #336;
    font-weight: 350;
    line-height: 1.8;
    font-size: 1.0625rem;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

ol {
    margin-bottom: 1rem;
}

section {
    padding: 75px 0;
    height: auto;
    display: block;
}

/* class */

:after, :before {
    box-sizing: border-box;
}

.bg-gray-a-500 {
    background-color: rgba(0,0,0,.05);
}

.breadcrumb {
    margin-bottom: 0;
    list-style: none;
    background-color: unset;
    border-radius: 2px;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: .8125rem;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-item a, .breadcrumb-item a:visited {
    color: #333;
}

.breadcrumb-item a:hover {
    color: red;
}

.breadcrumb-item:last-child {
    font-weight: 700;
}

.title-main {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 330;
    font-size: 35px;
}

.title-main::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    border-bottom: 4px solid #c91d23;
    width: 80px;
}

.section-wrapper {
    position: relative;
    padding-top: 0;
}

.static-content {
    padding-bottom: 40px;
}