/* Mobile and Tablet */
@media (max-width: 1023px) {

}

/* PC */
@media (min-width: 1023.001px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .co-slider__content {
        font-size: 1.5rem;
    }

    .product__heading {
        font-size: 2.4rem;
    }

    .wi__step-heading {
        text-align: center;
    }

    .wi__number-heading {
        font-size: 4rem;
    }

    .wi__number-text {
        font-size: 2.2rem;
    }
}

/* Small Mobile */
@media (max-width: 360px) {
    .co-slider__content {
        font-size: 1.2rem;
    }

    .wi__number-heading {
        font-size: 3.2rem;
    }

    .wi__number-text {
        font-size: 1.8rem;
    }
}

/* ----------------------------------------------- */

/* XL */
@media (min-width: 1200px) {
    
}

/* Large: lg */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* - */
@media (max-width: 575px) {
    
}