/* Mobile and Tablet */
@media (max-width: 1023px) {
    /* Hide on mobile and tablet */
    .HOMAT {
        display: none;
    }
}

/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height-pc: 88px;
        --width-logo-pc: 55px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        /* Index.html -> Header */
        --header-height-pc: 66px;
        --width-logo-pc: 44px;
        --font-size-logo-pc: 3.2rem;

        /* Index.html -> Heading of a frame */
        --font-size-heading: 2.4rem
    }

    .co-slider__content {
        font-size: 1.5rem;
    }

    .wi__step-heading {
        text-align: center;
    }

    .wi__number-heading {
        font-size: 4rem;
    }

    .wi__number-text {
        font-size: 2.2rem;
    }
}

/* Small Mobile */
@media (max-width: 360px) {
    :root {
        /* Index.html -> Header */
        --header-height-pc: 44px;
        --width-logo-pc: 33px;
        --font-size-logo-pc: 2.4rem;

        /* Index.html -> Heading of a frame */
        --font-size-heading: 2.4rem
    }

    .co-slider__content {
        font-size: 1.2rem;
    }

    .wi__number-heading {
        font-size: 3.2rem;
    }

    .wi__number-text {
        font-size: 1.8rem;
    }
}

/* ----------------------------------------------- */

/* XL */
@media (min-width: 1200px) {
    
}

/* Large: lg */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* - */
@media (max-width: 575px) {
    
}